.button {
    padding: 16px;
    text-align: center;
    border: 1px solid #eaeaea;
    border-radius: 16px;
    user-select: none;
  }

  .button:hover {
    background-color: beige;
    cursor: pointer;
  }
  