.container {
    margin-top: 16px;
    display: flex;
    width: 384px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    border-radius: 20px;
    border: 1px solid #F0F1F2;
    background: #FFF;
    box-shadow: 0px 2px 24px -4px rgba(11, 11, 11, 0.10);
}

.result {
    width: 334px;
    height: 334px;
    border-radius: 30px;
    object-fit: cover;
    object-position: 0% 30%;
}

.resultFlip {
    width: 334px;
    height: 334px;
    border-radius: 30px;
    object-fit: cover;
    object-position: 0% 30%;
    transform: scaleX(-1);
}

.resultRotate {
    width: 334px;
    height: 334px;
    border-radius: 30px;
    object-fit: cover;
    object-position: 0% 12%;
    transform: rotate(90deg) scaleY(-1);
}

.guideline {
   width: 334px;
}